<div class="bg-off-white pv4">
		<object data="vintage/index.html" type="" style="position:absolute;width:100%;height:18rem;z-index:1"></object>

	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title mb3">Ultimas Historias</h1>

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ range first 4 (where .Data.Pages "Type" "post") }}
				<div class="ph1-ns w-50-ns flex">
					{{ .Render "li" }}
				</div>
			{{ end }}
		</div>

		<div class="tc">
			<a href="/post" class="btn raise">Leer Más</a>
		</div>

	</div>
</div>
