/*! TACHYONS v4.5.5 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */


/* External Library Includes */
@import './imports/_reset';

/* Modules */
@import './imports/_box-sizing';
@import './imports/_images';
@import './imports/_background-size';
@import './imports/_background-position';
@import './imports/_outlines';
@import './imports/_borders';
@import './imports/_border-radius';
@import './imports/_border-style';
@import './imports/_border-widths';
@import './imports/_border-colors';
@import './imports/_code';
@import './imports/_coordinates';
@import './imports/_clears';
@import './imports/_display';
@import './imports/_flexbox';
@import './imports/_floats';
@import './imports/_font-style';
@import './imports/_font-weight';
@import './imports/_forms';
@import './imports/_heights';
@import './imports/_line-height';
@import './imports/_links';
@import './imports/_lists';
@import './imports/_max-widths';
@import './imports/_widths';
@import './imports/_overflow';
@import './imports/_position';
@import './imports/_opacity';
@import './imports/_spacing';
@import './imports/_text-decoration';
@import './imports/_text-align';
@import './imports/_text-transform';
@import './imports/_type-scale';
@import './imports/_typography';
@import './imports/_utilities';
@import './imports/_visibility';
@import './imports/_white-space';
@import './imports/_vertical-align';
@import './imports/_states';
@import './imports/_z-index';
@import './imports/_styles';
@import './imports/_buttons';
@import './imports/_svg';
@import './imports/_cms';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import './imports/_colors';
@import './imports/_media-queries';
@import './imports/_variables';

/* Debugging */
@import './imports/_debug-children';
@import './imports/_debug-grid';
@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia');
/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/
@font-face {
    font-family: 'foglihtenno04regular';
    src: url('../fonts/foglihtenno04-070-webfont.eot');
    src: url('../fonts/foglihtenno04-070-webfont.eot#iefix') format('embedded-opentype'),
         url('../fonts/foglihtenno04-070-webfont.woff') format('woff'),
         url('../fonts/foglihtenno04-070-webfont.ttf') format('truetype'),
         url('../fonts/foglihtenno04-070-webfont.svg#foglihtenno04regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* latin */
@font-face {
    font-family: 'UnifrakturMaguntia';
    font-style: normal;
    font-weight: 400;
    src: local('UnifrakturMaguntia'), url(fonts/WWXPlieVYwiGNomYU-ciRLRvEmK7oaVemGZK.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-ext */
@font-face {
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    src: local('Varela'), url(../fonts/DPEtYwqExx0AWHX5DR4CTvw.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    src: local('Varela'), url(../fonts/DPEtYwqExx0AWHX5Ax4C.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

 .divider-grey a, h2 {
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    font-family: 'UnifrakturMaguntia', cursive;
}
.divider-grey{box-shadow:none;}
.divider-grey a{color:#E0E0D7;text-shadow:none;}
h1.bg-primary{
    font-family:foglihtenno04regular;
    background-color:transparent;
}
p.b.f4.di.lh-title.mb3.white.mw6.bg-primary {
    background: purple;
    padding: 5px;
}
h2{font-size:30px;}
.intro{width:80%;align-items:center;}
.db.mb3 {
    display: none;
}
p{max-width: 100%;}
.bg-black{
    background: url(../img/pattern.jpg) !important;
}
nav{background-color:#070A08 !important;border-bottom:5px solid #B93F04;}

body{background-color:#E0E0D7;}
.bg-grey-1 {
    background-color: #E0E0D7;
}
video{width:100%;height:auto;}
.pv5.pv6-l.ph3.bg-center.cover{display:none;}
nav {
    border-bottom: solid 5px #e97f02;
    
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
    border-width: .25em 0;
    border-image: linear-gradient(90deg, #f8ca00, #490a3d, #8a9b0f, #bd1550) 100 100;
    padding: .25em 0 .125em;
    font-size: 1.5em;
    color: #e97f02;
}
object{position:relative;height:20rem;width:100%;z-index:9999;overflow:hidden !important;}
